<!--<div class="col mb-5">-->
<!--    <div class="card h-100">-->
<!--        &lt;!&ndash; Product image&ndash;&gt;-->
<!--        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>-->
<!--        &lt;!&ndash; Product details&ndash;&gt;-->
<!--        <div class="card-body p-4">-->
<!--            <div class="text-center">-->
<!--                &lt;!&ndash; Product name&ndash;&gt;-->
<!--                <h5 class="fw-bolder">Fancy Product</h5>-->
<!--                &lt;!&ndash; Product price&ndash;&gt;-->
<!--                $40.00 - $80.00-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Product actions&ndash;&gt;-->
<!--        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% for post in posts %}
<div class="col mb-5">
    <div class="card h-100">
        <!-- Sale badge-->
        {% if post.sale %}
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        {% endif %}
        <!-- Product image-->
        <img class="card-img-top resized" src="{{ post.image }}" alt="..."/>
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ post.name }}</h5>
                <!-- Product reviews-->
                <div class="d-flex justify-content-center small text-warning mb-2">
                    {% for i in range(rating()) %}
                    <div class="bi-star-fill"></div>
                    {% endfor %}
                </div>
                <!-- Product price-->
                <span class="text-muted text-decoration-line-through">{{ post.price + (rating() * 10) }}</span>
                {{ post.price }} Rs.
            </div>
            stock: {{ post.stock }}
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <a class="btn btn-outline-dark mt-auto" href="{{ url_for('cart', source='addcart', product=post.name) }}">Add to cart</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}